.vscode/**
.git/**
.gitignore
node_modules/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/**
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/tsconfig*
**/*.ts
**/*.map
**/*.test.js
**/tests/**
**/test/**
.eslintrc*
tsconfig.json
.mocharc*
coverage/**
webview-ui/coverage/**
.github/**
.idea/**
.vscode-test.mjs
eslint.config.mjs
parser.py
requirements.txt
sonar-project.properties
webview-ui/eslint.config.js
webview-ui/index.html